body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
}
.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.nav-menu li a:hover {
    background-color: #555;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

th {
    background-color: #007ACC;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
